:root {
  --max-width: 1200px;
  --font: Arial, Helvetica, sans-serif;
  --color-jelly-bean: #E16259;
  --spacing-sm: 20px;
  --spacing-md: 40px;
  --spacing-lg: 100px;
  --screen-max-xs: 480px;
  --screen-max-sm: 798px;
  --screen-max-lg: 1024px;
  --text-base: 17px;
  --text-lg: 22px/30px;
  --text-xl: 24px/32px;
  --text-2xl: 69px/1em;
}

@media screen and (max-width: 1024px) {
  :root {
    --spacing-lg: 60px;
    --text-2xl: 40px/1em;
    --text-lg: 20px/28px;
  }
}

@media screen and (max-width: 798px) {
  :root {
    --spacing-md: 20px;
    --spacing-lg: 40px;
    --text-2xl: 28px/1em;
    --text-lg: 18px/24px;
    --text-base: 14px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font);
  font-size: 14px;
  line-height: 21px;
}

.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.nowrap {
  white-space: nowrap;
}
